@CHARSET "UTF-8";

#top_line {
	border-bottom: 1px solid #ffffff;
	margin-bottom: 40px;
}

.top_main {
	display: inline-block;
	width: 300px;
	font-size: 25pt;
	margin: 10px;
	margin-right: 300px;
}

#findStr {
	height: 25px;
}

#btnFind {
	width: 100px;
	color: black;
	height: 25px; 
}

#list {
	text-align: center;
}

.list1, .list2, .list3 {
	display: inline-block;
	text-align: center;
	margin-bottom: 20px;
}

.list1 {
	width: 90px;
}

.list2 {
	width: 130px;
}

.list3 {
	width: 260px;
}

#result {
	display: inline-block;
	width: 100%;
	height: 500px;
	background-color: #999999;
}