@CHARSET "EUC-KR";

.head{
	height : 150px;
	width : 100%;
}
.head1{
    height : 150px;
	width : 20%;
    float: left;
}
.head2{
    height : 150px;
	width : 55%;
	border-right : 1px solid white; 
	border-left : 1px solid white;
    float: left;
    padding-top : 45px;
    text-align:center;
    font-size : 50px;
    }
.head3{
    height : 150px;
	width : 25%;
    float: left;
}
.head3 div {
	height:50px;
}
.head31{
	width : 35%;
	border-bottom : 1px solid white;
	border-right : 1px solid white;
    float: left;
    padding-top : 11px;
    text-align:center;
}
.head32{
	width : 65%;
    float: left;
    border-bottom : 1px solid white;
    padding-top : 11px;
    text-align:center;
}

.sign{
	height : 125px;
	width : 100%;
	 border-top : 1px solid white; 
}
.sign1{
	height : 125px; 
	width : 70%;
	float: left;
	text-align: center;
	padding : 50px;
	font-size: 20px;
}
.sign2{
	height : 125px;
	width : 30%;
	float: left;
	border-left : 1px solid white;
}
.appro{
	writing-mode: tb-rl;
	padding-right : 7px;
	display:table-cell; 
	text-align:center;
	 vertical-align:middle;
	 width: 13%;
	 float: left;
	 height : 125px;
}
.writer, .appro1, .appro2{
	width : 29%;
	border-bottom : 1px solid white;
	border-right : 1px solid white;
	border-left : 1px solid white;
	float: left;
	height : 25px;
	text-align: center;
}
.date1, .date2, .date3{
	width : 29%;
	border : 1px solid white;
	float: left;
	font-size : 13px;
	height : 25px;
	text-align: center;
	padding: 3px;
}
.stamp1, .stamp2, .stamp3{
	height : 75px;
	width : 29%;
	border-left : 1px solid white;
	border-right : 1px solid white;
	float: left;
}
.classify{
	height : 70px;
	width : 100%;
	border : 1px solid white;
}

select  {
	width: 150px;
	height: 30px;
	padding-left: 10px;
	font-size: 18px;
	color: black;
	border: 1px solid white;
	border-radius: 3px;
	outline:none;
	background: black;
	
	}
.sel1, .sel2, .add{
	margin-left : 100px;
	padding : 18px;
	float : left;
}

 button{
	background-color: black;
	border: 1px solid white;
	font-size: 13px;
	width: 50px;
}  
.subject{
	height : 50px;
	width : 100%;
	border : 1px solid white;
}
.code{
	height : 50px;
	width : 200px;
	float : left;
	text-align:center;
	padding : 14px;
}
.codeName{
	height : 50px;
	width : 150px;
	float : left;
	text-align:center;
	padding : 14px;
}
.ea{
	height : 50px;
	width : 100px;
	float : left;
	text-align:center;
	padding : 14px;
}
.deadline{
	height : 50px;
	width : 300px;
	float : left;
	text-align:center;
	padding : 14px;
}
.content{
	height : 200px;
	width : 100%;
	border : 1px solid white;
}