@CHARSET "EUC-KR";

/* ----------------------head----------------------------- */
#head{
	border-bottom: 1px solid white;
	height: 60px;
}
#title{
	height: 60px;
	font-size: 30px;
	padding-left: 10px;
	padding-top: 10px;
	width : 50%;
	float: left;
	
}
select{
	background-color: black;
	border : 1px solid white;
	text-align: center;
}
#sel{
	padding-top : 23px;
	width: 15%;
	height: 60px;
	padding-left: 20px;
	font-size: 18px;
	color: black;
	outline:none;
	float: left;
}
#finStr{
	width : 20%;
	float: left;
	height: 60px;
}
#txtFind{
	margin-top : 20px;
	height: 25px;
}
#findBtn{
	height: 60px;
	width : 15%;
	float: left;
}
#btnFind{
	height : 25px;
	background-color: black;
	border: 1px solid white; 
	font-size: 13px;
	width: 80px;
	cursor: pointer; 
	padding: 3px;
	margin-top : 20px;
}
/* ----------------------list_title----------------------------- */

#list_title{
	height: 50px;
	padding-top: 20px;
	border-bottom: 1px solid white;
	margin-top: 10px;
}
#docNum{
	width : 8%;
}
#proCode{
	width : 13%;
}
#proName{
	width : 10%;
}
#costomer{
	width : 10%;
}
#saledate{
	width : 13%;
}
#ea{
	width : 10%;
}
#unite{
	width : 10%;
}
#total{
	width : 13%;
}
#salesman{
	width : 9%;
}

/* ----------------------list----------------------------- */
#list{
	margin-top: 10px;
}
span{
	padding-top : 2px;
	display : inline-block;
	text-align: center;
	font-size: 12px;
	height: 20px;
}
