<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns="http://java.sun.com/xml/ns/javaee"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
   version="3.0">

<!-- 	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/spring-unknown-controller.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping> -->
 
<!--////////장정환////////-->
	

	
	<servlet><!--서블릿이나 스프링 쓰실분 이런식으로 추가하세요~~  -->
		<servlet-name>hwanDispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/hwan_controller.xml
			</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>hwanDispatcher</servlet-name>
		<url-pattern>*.hwan</url-pattern>
	</servlet-mapping>
	
		
	
	
<!-- ////////////////////////// -->



<!--////////윤여훈////////-->
	

	
	<servlet><!--서블릿이나 스프링 쓰실분 이런식으로 추가하세요~~  -->
		<servlet-name>hoonDispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/hoon_controller.xml
			</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>hoonDispatcher</servlet-name>
		<url-pattern>*.hoon</url-pattern>
	</servlet-mapping>
	
	
<!-- ////////////////////////// -->



<!--////////황주희////////-->
	

	
	<servlet><!--서블릿이나 스프링 쓰실분 이런식으로 추가하세요~~  -->
		<servlet-name>jooDispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/joo_controller.xml
			</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>jooDispatcher</servlet-name>
		<url-pattern>*.joo</url-pattern>
	</servlet-mapping>
	
	
<!-- ////////////////////////// -->




<!--////////최익준////////-->
	

	
	<servlet><!--서블릿이나 스프링 쓰실분 이런식으로 추가하세요~~  -->
		<servlet-name>junDispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/jun_controller.xml
			</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>junDispatcher</servlet-name>
		<url-pattern>*.jun</url-pattern>
	</servlet-mapping> 
	
	
<!-- ////////////////////////// -->



<!--////////최익준////////-->
	

	
	<servlet><!--서블릿이나 스프링 쓰실분 이런식으로 추가하세요~~  -->
		<servlet-name>kimHaDispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/kimHa_controller.xml
			</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>kimHaDispatcher</servlet-name>
		<url-pattern>*.kimHa</url-pattern>
	</servlet-mapping>
	
	
<!-- ////////////////////////// -->



<!--////////최익준////////-->
	

	
	<servlet><!--서블릿이나 스프링 쓰실분 이런식으로 추가하세요~~  -->
		<servlet-name>soDispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/so_controller.xml
			</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>soDispatcher</servlet-name>
		<url-pattern>*.so</url-pattern>
	</servlet-mapping>
	
	
<!-- ////////////////////////// -->


<!--////////성은영////////-->
	

	
	<servlet><!--서블릿이나 스프링 쓰실분 이런식으로 추가하세요~~  -->
		<servlet-name>sungDispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/sung_controller.xml
			</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>sungDispatcher</servlet-name>
		<url-pattern>*.sung</url-pattern>
	</servlet-mapping>
	
	
<!-- ////////////////////////// -->


	
	

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>